* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


.header {
    background: white;
    padding: 15px 30px;
}

.header-top {
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    align-items: center;
    gap: 20px;
}

.logo {
    color: orange;
}

.search {
    display: flex;
}

.search input {
    flex: 1;
    padding: 8px;
}

.search button {
    padding: 8px 12px;
    background: orange;
    border: none;
    color: white;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
}

.nav a::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%; 
    background-color: orange;
    position: absolute;
    right: -10px; 
}


.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}


.main {
    padding: 30px;
}

.offers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 20px;
}



.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.banner {
    background: 
        url("assets/stažený\ soubor.jpeg") center/cover no-repeat,
        lightblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    min-height: 250px;
    color: white;
}

.banner button {
    padding: 10px;
    border: none;
    background: white;
    cursor: pointer;
}



@media (max-width: 992px) {

    .offers {
        grid-template-columns: 1fr;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media (max-width: 600px) {

    .burger-menu {
        display: flex; 
        gap: 5px;
    }

    .nav {
        display: none; 
        flex-direction: column;
        gap: 10px;
        background-color: white;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav.active {
        display: flex; 
    }

    .header-top {
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }

    .icons {
        justify-content: center;
        gap: 20px;
    }

    .products {
        grid-template-columns: 1fr;
    }

}